header {
  background: #000000;
}

header h4 {
  margin: auto;
  text-align: center;
  color: rgb(255, 0, 0);
  font-size: 2rem;
}

.bc {
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



