.navbar {
  background: #6a1b9a;
flex-direction: row;
  text-align: center; 

}

.nav-item {
  font-size: 2rem;
  text-decoration: none; 
  justify-content: center;
  text-align: center;
  padding: 15px;
}

a.nav-link {
  color: aliceblue;
}
