.container {
    box-sizing: border-box;
    flex-direction: row;

}

.card-text {
    color: black;
}

.card-title {
    text-decoration: underline;
    text-align: center;
}

img {
    /* display: block;
margin-left: auto;
margin-right: auto;
width: 50%; */
}