h7 {
    text-decoration: underline;
    justify-content: center;
    text-align: center;
    display: flex;
    margin: auto;
   
}

h8 {
    justify-content: center;
    width: 100%;
    text-align: center;
    display: flex;
    margin: auto;
    padding-bottom: 1rem;
    font-size: 25px;
    font-family: 'Koulen';
}

.container {
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;

}

.card-text {
    color: black;
}

.card-title {
    text-decoration: underline;
    text-align: center;
}



img.fitness {
    display: block;
    width: 100%;

    height: auto;
   
}

ol {
    display: flex;

    font-style: italic;
}

.buttons {
    display: flex;
    justify-content: center;
}

.repo:hover {
    transform: scale(1.1);
  }

.demo:hover {
    transform: scale(1.1);
}

.repo {
    justify-content: center;
    margin-right: 5px;
}

.demo {
    justify-content: center;
    margin-left: 5px;
}

.pjheader {
    color: black;
}


.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    margin-top:10px;
    margin-bottom:10px;
    background-color:#FFF;
  }
  
  .card:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  .card > .card-inner {
    padding:10px;
  }
  .card .header h2, h3 {
    margin-bottom: 0px;
    margin-top:0px;
  }
  .card .header {
    margin-bottom:5px;
  }
  .card img{
    width:100%;
  }